.flag {
  image-orientation: flip;
  border-radius: 50%;
}

.ti {
  background-color: cadetblue;
}

.button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  left: 100px;
  top: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.score {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 1px red;

}

body {
  background: url(https://wallpaperaccess.com/full/413721.jpg) no-repeat 0, 0 #99e9ff;
  background-position: center;
  background-size: 3000px;
}

.text {
  text-align: center;
  font-size: 90px;
  background-color: white;
}

.goal {
  position: absolute;
  padding: 15px 32px;
  font-size: 40px;
  left: 47%;
  width: 100px;
  text-align: center;
  background-color: whitesmoke;
  font-family: ocr;
}

.p{
  text-align: center;
  font-size: 70;
  background-color:gray;
}