
.ti {
  background-color: cadetblue;
  user-select: none;
}

.score {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 1px red;
  font-size: 2vw;
  user-select: none;
}

.misses {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 1px red;
  font-size: 2vw;
  position: absolute;
  left: 90%; 
  top: 0%;
  user-select: none;
}

body {
  background: url(https://wallpaperaccess.com/full/413721.jpg) no-repeat 0, 0 #99e9ff;
  background-position: center;
  background-size: 2000px;
  background-position: top;
  user-select: none;
}

.text {
  position: absolute;
  font-size: 6vw;
  background-color: white;
  top: 0%;
  left: 5%;

}

.goal {
  position: absolute;
  padding: 15px 32px;
  font-size: 2vw;
  left: 5%;
  top: 40%;
  width: 10vw;
  text-align: center;
  background-color: whitesmoke;
  font-family: ocr;
}

.size {
  position: absolute;
  padding: 15px 32px;
  font-size: 2vw;
  left: 5%;
  top: 60%;
  width: 10vw;
  text-align: center;
  background-color: whitesmoke;
  font-family: ocr;
}


.p1{
  position: absolute;
  left: 5%;
  top: 30%;
  font-size: 2vw;
  background-color:gray;
}

.p2{
  position: absolute;
  left: 5%;
  top: 50%;
  font-size: 2vw;
  background-color:gray;
}